<article>
    <a href="/dashboard" class = "edit-link"> &larr; Back to dashboard</a>
    <h2 class = "edit-head">Edit Post</h2>
    <form class = "new-post-form">
            <div>
                <label for "post-title">Title</label>
                <input type = "text" id = "post-title" class = "new-post-title" name = "post-title" value = "{{post.title}}"/>
            </div>
            <div>
                <label for "post-text">Post Text</label>
                <textarea id="post-text" name = "post-text" class = "new-post-text">{{post.text}}</textarea>
            </div>
            <div class = "edit-buttons">
                <button type = "submit" class = "edit-button">Save</button>
                <button type = "button" class = "delete-post-btn">Delete</button>
            </div>
        </form>
    <div>
            <a href="/post/{{post.id}}" class = "edit-post-comment">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</href>
    </div>
</article>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>